In [1]:
import pandas as pd
import datetime

In [2]:
austin_df = pd.read_csv('Austin_Crime2015_2018_final.csv')

In [3]:
austin_df.head()

  Raw Crime Type Cateogry Crime Type Crime Date
0        Robbery            BURGLARY   1/1/2015
1        Robbery            BURGLARY   1/1/2015
2       Burglary            BURGLARY   1/1/2015
3       Burglary            BURGLARY   1/1/2015
4       Burglary            BURGLARY   1/1/2015

In [4]:
len(austin_df)

267714

In [5]:
austin_df['Cateogry Crime Type'].unique()

array(['BURGLARY', 'THEFT', 'AGGRAVATED ASSAULT', ' RAPE',
       'MURDER AND NON-NEGLIGENT MANSLAUGHTER', 'MISC', 'DRUG OFFENSE',
       'FRAUD', ' MOTOR VEHICLE THEFT', 'ARSON'], dtype=object)

In [6]:
austin_df['Cateogry Crime Type'].nunique()

10

In [7]:
austin_df['Cateogry Crime Type'].value_counts()

THEFT                                    91713
MISC                                     63420
DRUG OFFENSE                             38803
BURGLARY                                 38015
AGGRAVATED ASSAULT                       30302
FRAUD                                     2480
 RAPE                                     2215
 MOTOR VEHICLE THEFT                       502
ARSON                                      145
MURDER AND NON-NEGLIGENT MANSLAUGHTER      119
Name: Cateogry Crime Type, dtype: int64

In [8]:
crimes = austin_df['Cateogry Crime Type'].unique()

#Add columns for each crime category, 0 = crime is not this cateogry, 1 = crime is this category

for c in crimes:
    austin_df[c] = austin_df['Cateogry Crime Type'].apply(lambda s: int(s==c))

austin_by_date = austin_df.groupby(['Crime Date'])

austin_by_date[crimes].sum().head()

,BURGLARY,THEFT,AGGRAVATED ASSAULT,RAPE,MURDER AND NON-NEGLIGENT MANSLAUGHTER,MISC,DRUG OFFENSE,FRAUD,MOTOR VEHICLE THEFT,ARSON
Crime Date,,,,,,,,,,
1/1/2015,14,65,5,0,0,8,0,1,0,0
1/1/2016,18,55,13,5,0,22,1,2,0,0
1/1/2017,42,83,64,4,0,160,79,1,1,0
1/1/2018,32,50,49,4,0,96,61,3,1,1
1/10/2015,4,70,5,1,0,0,0,0,0,0

In [9]:
output_file = "austin_by_date.csv"

austin_by_date[crimes].sum().to_csv(output_file, encoding="utf-8",
                    index=True, sep=",", header=True)