## Seattle Crime Data
* Read the crime data for Seattle from https://data.seattle.gov/Public-Safety/Crime-Data/4fs7-3vj5/data
* Take the data from year 2015-present
* Formatted the data with Type of crime, Date Occurred and crime count
* Store the formatted data in csv file

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load
csv_path = "../Data_folder/Crime_Data_seattle_2015.csv"
data_file = pd.read_csv(csv_path)

In [3]:
data_file.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,2.020000e+13,10/25/18,1631,10/25/18,1847,AGGRAVATED ASSAULT,ASSLT-AGG-WEAPON,SOUTHWEST,F,F1,SOUTH PARK
1,2.020000e+13,10/25/18,1647,10/25/18,1647,NARCOTIC,NARC-SELL-AMPHETAMINE,WEST,M,M3,DOWNTOWN COMMERCIAL
2,2.020000e+13,10/25/18,1656,10/25/18,1657,HOMICIDE,HOMICIDE-PREMEDITATED-GUN,NORTH,N,N3,NORTHGATE
3,2.020000e+13,10/25/18,1737,10/25/18,1737,AGGRAVATED ASSAULT,ASSLT-AGG-WEAPON,WEST,K,K3,PIONEER SQUARE
4,2.020000e+13,10/25/18,1833,10/25/18,1833,SEX OFFENSE-OTHER,SEXOFF-INDECENT EXPOSURE,WEST,D,D1,BELLTOWN

In [4]:
len(data_file)

188481

In [5]:

data_file['Occurred Date']= data_file['Occurred Date'].astype('datetime64[ns]')

In [6]:
#Read all the categories of crime 
cats = data_file["Crime Subcategory"].unique()

In [7]:
cats_df = pd.DataFrame({"Crime Subcategory":cats})
cats_df.to_csv('categories.csv')

#Go to the excel and edit the file

In [8]:
#read the new csv file with final category colummn and add to our new dataframe

cats_key = pd.read_csv('category_keys.csv')
cats_key.head()

           Crime Subcategory                         Category Final
0         AGGRAVATED ASSAULT                     AGGRAVATED ASSAULT
1                   NARCOTIC                           DRUG OFFENSE
2                   HOMICIDE  MURDER AND NON-NEGLIGENT MANSLAUGHTER
3          SEX OFFENSE-OTHER                                   RAPE
4  FAMILY OFFENSE-NONVIOLENT                                   MISC

In [9]:
seattle_data = pd.merge(data_file,cats_key,on="Crime Subcategory",how="left")
seattle_data.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood,Category Final
0,2.020000e+13,2018-10-25,1631,10/25/18,1847,AGGRAVATED ASSAULT,ASSLT-AGG-WEAPON,SOUTHWEST,F,F1,SOUTH PARK,AGGRAVATED ASSAULT
1,2.020000e+13,2018-10-25,1647,10/25/18,1647,NARCOTIC,NARC-SELL-AMPHETAMINE,WEST,M,M3,DOWNTOWN COMMERCIAL,DRUG OFFENSE
2,2.020000e+13,2018-10-25,1656,10/25/18,1657,HOMICIDE,HOMICIDE-PREMEDITATED-GUN,NORTH,N,N3,NORTHGATE,MURDER AND NON-NEGLIGENT MANSLAUGHTER
3,2.020000e+13,2018-10-25,1737,10/25/18,1737,AGGRAVATED ASSAULT,ASSLT-AGG-WEAPON,WEST,K,K3,PIONEER SQUARE,AGGRAVATED ASSAULT
4,2.020000e+13,2018-10-25,1833,10/25/18,1833,SEX OFFENSE-OTHER,SEXOFF-INDECENT EXPOSURE,WEST,D,D1,BELLTOWN,RAPE

In [10]:
crimes = seattle_data['Category Final'].unique()
crimes

array(['AGGRAVATED ASSAULT', 'DRUG OFFENSE',
       'MURDER AND NON-NEGLIGENT MANSLAUGHTER', 'RAPE', 'MISC',
       'BURGLARY', 'LARCENY-THEFT', 'MOTOR VEHICLE THEFT', 'ARSON'],
      dtype=object)

In [11]:
# Add columns for each crime category, 0 = crime is not this category, 1 = crime is this category
for c in crimes:
    seattle_data[c]= seattle_data['Category Final'].apply(lambda s: int(s==c))

# Group by date and export the counts to csv
seattle_final_df = seattle_data.groupby(['Occurred Date'])
seattle_final_df[crimes].sum().to_csv('seattle_by_date.csv')